/*
 * Copyright (c) 2018, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "sdm450-sb.dtsi"
#include "sdm450-pmi632.dtsi"
#include "msm8953-pmi632-panel-camera.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SDM450 + PMI632 SOC, single board smartcam";
	compatible = "qcom,sdm450";
	qcom,pmic-id = <0x010016 0x25 0x0 0x0>;
	qcom,pmic-name = "PMI632";
};

&pm8953_l17 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3300000>;
	qcom,init-voltage = <3000000>;
};

&soc {
	virtual_leds {
		status = "disabled";
	};

	virtual_j1708 {
		status = "disabled";
	};

	fixed-vinputs {
		compatible = "mcn,tlmm-based-vinputs";
		pinctrl-names = "automotive_inputs_active", "automotive_inputs_suspend";
		pinctrl-0 = <&automotive_inputs_active>;
		pinctrl-1 = <&automotive_inputs_suspend>;
		mcn,ain-0 = <&tlmm 36 GPIO_ACTIVE_LOW>;
		mcn,ain-1 = <&tlmm 65 GPIO_ACTIVE_LOW>;
		interrupt-parent = <&tlmm>;
		interrupt-names = "ain-0", "ain-1";
		interrupts = <&tlmm 36 IRQ_TYPE_EDGE_BOTH>, <&tlmm 65 IRQ_TYPE_EDGE_BOTH>;
		status = "okay";
	};

	watchdogpin {
		compatible = "mcn,pwr-button-timer-fb";
		pinctrl-names = "watchdog_pin_active", "watchdog_pin_suspend";
		pinctrl-0 = <&watchdog_pin_active>;		
		pinctrl-1 = <&watchdog_pin_suspend>;
		mcn,toggle-pin = <&tlmm 64 0>;
		status = "okay";
	};

	dock {
		compatible = "mcn,sb-dock-switch";
		pinctrl-names = "dock_pins_active", "dock_pin_suspend";
		pinctrl-0 = <&dock_pins_active>;
		pinctrl-1 = <&dock_pin_suspend>;
		mcn,dock-pin = <&tlmm 21 GPIO_ACTIVE_LOW>;
		/* usb switch hw controlled by vbus_cradle signal */
		mcn,usb-switch-pin = <&tlmm 18 GPIO_ACTIVE_HIGH>;
		/*mcn,otg-en-pin = <&tlmm 97 GPIO_ACTIVE_HIGH>;*/
		mcn,mic-switch-pin = <&tlmm 19 GPIO_ACTIVE_HIGH>;
		tuner-supply = <&pm8953_l10>;
		ldoa2-supply = <&pm8953_l2>;
		ldoa6-supply = <&pm8953_l6>;
		ldoa17-supply = <&pm8953_l17>;
		ldoa22-supply = <&pm8953_l22>;
		ldoa23-supply = <&pm8953_l23>;
		interrupt-names = "cradle-detect";
		interrupt-parent = <&tlmm>;
		interrupts = <&tlmm 21 0>;
		status = "disabled";
	};

	hi3w {
		compatible = "mcn,hi-3w";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&hi_3w_pins_active>;
		pinctrl-1 = <&hi_3w_pin_suspend>;
		mcn,3w-clock-pin = <&tlmm 13 GPIO_ACTIVE_LOW>;
		mcn,3w-miso-pin = <&tlmm 89 GPIO_ACTIVE_LOW>;
		mcn,3w-mosi-pin = <&tlmm 2 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	dev_info {
		compatible = "mcn,device-info";
		pinctrl-names = "dev_info_active", "dev_info_suspend";
		pinctrl-0 = <&dev_info_active>;
		pinctrl-1 = <&dev_info_suspend>;
		mcn,board-id-0 = <&tlmm 128 GPIO_ACTIVE_LOW>;
		mcn,board-id-1 = <&tlmm 87 GPIO_ACTIVE_LOW>;
		mcn,board-id-2 = <&tlmm 96 GPIO_ACTIVE_LOW>; 
		status = "okay";
	};

	pwr_loss_mon {
		compatible = "mcn,pwr-loss-mon";
		pinctrl-names = "pwr_loss_mon_active", "pwr_loss_mon_suspend";
		pinctrl-0 = <&pwr_loss_mon_active>;
		pinctrl-1 = <&pwr_loss_mon_suspend>;
		mcn,pwr-loss-mon = <&tlmm 98 GPIO_ACTIVE_LOW>;
		mcn,wan-off-delay = <0>;
		mcn,wlan-off-delay = <0>;
		mcn,plat-off-delay = <180000>;
		/*mcn,plat-off-delay = <0xFFFFFFFF>;*/
		interrupt-names = "pwr-loss";
		interrupt-parent = <&tlmm>;
		interrupts = <&tlmm 98 0>;
		status = "okay";
	};

	gpio_keys {
		user_btn {
			label = "F24";
			gpios = <&tlmm 25 0x1>;
			linux,input-type = <1>;
			linux,code = <194>;
			debounce-interval = <15>;
		};
	};
};

&blsp1_serial1 {
	status = "disabled";
};

/*
&pm8953_rtc {
	qcom,qpnp-rtc-write = <1>;
	qcom,qpnp-rtc-alarm-pwrup = <1>;
}
*/

&pmi632_charger {
	qcom,auto-recharge-soc = <70>;
};
